.wp {
    width: 100%;
}

.wp-2 {
    width: 50%;
}

.wp-4 {
    width: 25%;
}

.wp-8 {
    width: 12.5%;
}

@media (max-width: 767px) {
    .wp-xs-2 {
        width: 50% !important;
    }

    .wp-xs-4 {
        width: 25% !important;
    }

    .wp-xs-8 {
        width: 12.5% !important;
    }
}

@media (min-width: 768px) {
    .wp-sm-2 {
        width: 50% !important;
    }

    .wp-sm-4 {
        width: 25% !important;
    }

    .wp-sm-8 {
        width: 12.5% !important;
    }
}

@media (min-width: 992px) {
    .wp-md-2 {
        width: 50%;
    }

    .wp-md-4 {
        width: 25%;
    }

    .wp-md-8 {
        width: 12.5%;
    }
}

@media (min-width: 1200px) {
    .wp-lg-2 {
        width: 50%;
    }

    .wp-lg-4 {
        width: 25%;
    }

    .wp-lg-8 {
        width: 12.5%;
    }
}

.order-col-1 {
    text-align: center;
    width: 40px;
}

.order-col-2 {
    text-align: center;
    width: 60px;
}

.order-col-3 {
    text-align: center;
    width: 80px;
}

.order-col-4 {
    text-align: center;
    width: 100px;
}

.order-col-5 {
    text-align: center;
    width: 120px;
}

.navbar-nav > .languages-menu > .dropdown-menu {
    width: 100px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}

.navbar-nav > .languages-menu > .dropdown-menu > li {
    position: relative;
}

.navbar-nav > .languages-menu > .dropdown-menu > li .menu {
    max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.navbar-nav > .languages-menu > .dropdown-menu > li .menu > li > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;
}

.navbar-nav > .languages-menu > .dropdown-menu > li .menu > li > a > h4 {
    padding: 0;
    margin: 0;
    color: #444444;
    font-size: 15px;
}

.navbar-nav > .languages-menu > .dropdown-menu > li .menu > li > a:hover {
    background: #f4f4f4;
    text-decoration: none;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > h4 {
    padding: 0;
    margin: 0;
    color: #444444;
    font-size: 15px;
    position: relative;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > p {
    margin: 0;
    font-size: 12px;
    color: #888888;
}

.navbar-nav > .notifications-menu > .dropdown-menu {
    width: 360px;
}

.navbar-nav > .notifications-menu .unread {
    background: #e4e4e4;
}

.code-editor {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#notification-alert-holder {
    max-width: 280px;
    position: fixed;
    bottom: 0;
    left: 10px;
    z-index: 7777;
}

.notification-alert {
    margin-bottom: 10px;
    padding: 8px 12px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    float: left;
    clear: left;
    color: #31708f;
    background-color: #d9edf7;
    font-size: 12px;
    line-height: 17px;
}

.notification-alert a {
    color: #31708f;
    text-decoration: none;
}

.notification-alert a:hover {
    text-decoration: underline;
}

.form-group label.required:after {
    color: #bd362f;
    content: " *";
}

.list-inline {
    margin-left: 0;
}

.small-box > .small-box-footer {
    padding-right: 10px;
    padding-left: 10px;
}

.elfinder-button-search .buttonset input {
    vertical-align: bottom;
    width: auto;
}

.elfinder-button-search .buttonset label {
    margin-right: 7px;
    margin-left: 3px;
}

.bg-transparent {
    background-color: transparent;
}