header .logo {
    margin: 20px 0;
}

header .switch-locale,
header .login-action,
header .sign-up-action {
    margin-bottom: 5px;
}

header .switch-locale {
    margin-top: 5px;
}

header .switch-locale a {
    width: 30px;
    padding: 0 0 1px 0;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

header .bars .wrapper {
    margin-top: -8px;
    padding: 0;
}

header .bar {
    height: 8px;
}

header .bar-50 {
    width: 50%;
}

header .wrapper .bar.pull-left {
    width: 90%;
    font-size: 0; line-height: 0;
    border-top: 8px solid #337ab7;
    border-right: 8px solid #fff;
}

header .wrapper .bar.pull-right {
    width: 10%;
    font-size: 0; line-height: 0;
    border-bottom: 8px solid #5cb85c;
    border-left: 8px solid #fff;
}