#page-teachers #teachers-sidebar h4 {
    font-size: 16px;
    line-height: 20px;
}

#page-teachers #teachers-sidebar .step-list .media-line {
    border-left: 3px dotted #00aff0;
    left: 18px;
}

#page-teachers #teachers-sidebar .step-list .media-left span {
    height: 32px;
    width: 32px;
    border: 3px solid #00aff0;
    background-color: #fff;
}

#page-teachers #teachers-sidebar .step-list .media-left span img {
    width: 24px;
    height: 24px;
    position: relative;
    top: -3px;
}

#page-teachers .teacher-list .thumbnail {
    padding: 0;
    border-radius: 8px;
    margin-bottom: 10px;
}

#page-teachers .teacher-list .master-slave-bar .bar,
#page-teacher .master-slave-bar .bar {
    height: 5px;
}

#page-teachers .teacher-list .master-slave-bar .bar.pull-left,
#page-teacher .bar.pull-left {
    border-top-width: 5px;
    border-right-width: 5px;
}

#page-teachers .teacher-list .master-slave-bar .bar.pull-right,
#page-teacher .master-slave-bar .bar.pull-right {
    border-bottom-width: 5px;
    border-left-width: 5px;
}

#page-teachers .teacher-list .pagination {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    #page-teachers .teacher-list {
        text-align: center;
    }

    #page-teachers .teacher-list .thumbnail.img-responsive {
        margin-left: auto;
        margin-right: auto;
    }

    #page-teachers .teacher-list .master-slave-bar {
        margin-left: auto;
        margin-right: auto;
    }
}