#page-article .master-slave-bar .bar,
#page-articles .master-slave-bar .bar {
    height: 5px;
}

#page-article .master-slave-bar .bar.pull-left,
#page-articles .bar.pull-left {
    border-top-width: 5px;
    border-right-width: 5px;
}

#page-article .master-slave-bar .bar.pull-right,
#page-articles .master-slave-bar .bar.pull-right {
    border-bottom-width: 5px;
    border-left-width: 5px;
}

#page-article #categories-menu-toggle,
#page-articles #categories-menu-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#page-article #categories-menu-toggle.collapsed,
#page-articles #categories-menu-toggle.collapsed {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#page-article #categories-menu,
#page-articles #categories-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}