#page-teacher-sign-up .media .media-left span {
    border-radius: 50%;
    background-color: #337ab7;
    padding: 3px 5px;
    display: block;
    height: 22px;
    width: 22px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

#page-teacher-sign-up .media .media-heading {
    font-weight: 700;
}