.cropper-image-view {
    cursor: pointer;
}

.cropper-image-view img {
    width: 100%;
}

.cropper-image-body {
    padding-right: 15px;
    padding-left: 15px;
}

.cropper-image-upload {
    overflow: hidden;
}

.cropper-image-upload label {
    display: block;
    float: left;
    clear: left;
    width: 100px;
}

.cropper-image-upload input {
    display: block;
    margin-left: 110px;
}

.cropper-image-alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cropper-image-wrapper {
    height: 364px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
    background-color: #fcfcfc;
    overflow: hidden;
}

.cropper-image-wrapper img {
    display: block;
    height: auto;
    max-width: 100%;
}

.cropper-image-preview {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.cropper-image-preview:hover {
    border-color: #ccf;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.cropper-image-preview img {
    width: 100%;
}

.preview-lg {
    height: 184px;
    width: 184px;
    margin-top: 15px;
}

.preview-md {
    height: 100px;
    width: 100px;
}

.preview-sm {
    height: 50px;
    width: 50px;
}

@media (min-width: 992px) {
    .cropper-image-preview {
        float: none;
    }
}

.cropper-image-buttons {
    margin-top: 30px;
    margin-bottom: 15px;
}

.cropper-image-buttons .btn-group {
    margin-right: 5px;
}

.cropper-image-loading {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff url('ajax-loader.gif') no-repeat center center;
    opacity: .75;
    filter: alpha(opacity=75);
    z-index: 20140628;
}

.cropper-image-buttons .btn + .btn {
    margin-left: 0;
}

.cropper-image-body {
    padding: 0;
}

.cropper-image-buttons {
    margin-top: 15px;
    margin-bottom: 0;
}

.cropper-image-help-block {
    margin-bottom: 0;
}

.cropper-image-preview {
    border: none;
    border-radius: 0;
}

.cropper-image-buttons .btn-group:not(:first-child) {
    margin-top: 3px;
}